<!DOCTYPE html>
<html>

<link rel="stylesheet" href="{{ url_for('static', filename='css/page.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://kit.fontawesome.com/39fcf779bc.js" crossorigin="anonymous"></script>

<head>
    <title>
        Xshortener
    </title>

</head>

<body>
    <div class="header">
        Xshortener
    </div>
    <div class="body">
        <div class="left">
            <div class="info">
                <h1> {{name}} </h1>
                <hr>
                <a id="shortened" href="{{url}}">Open url</a>
                <p id="linktext"></p>
            </div>


            <div class="button" id="bitly">
                <button>Bitlyshortener</button>
            </div>

        </div>

        <div class="links">

            <div class="link" id="list">

                {% for link in many_links %} {% if link['alive'] == false %}
                <div>
                    <p>
                        {{link['url']}}
                    </p>

                    <input type="hidden" value="{{link['url']}}" id="pageurl">

                    <p class="doa">dead</p>
                    <button class="buttoni" id="button" value="{{link['url']}}">
                        <i class="fas fa-minus-circle"></i>
                    </button>
                </div>
                {%endif%} {%endfor%} {% for link in many_links %} {% if link['alive'] == true %}
                <div>
                    <p>
                        {{link['url']}}
                    </p>

                    <input type="hidden" value="{{link['url']}}" id="pageurl">

                    <p class="doa2">alive</p>
                    <button id="button" value="{{link['url']}}">
                        <i class="fas fa-minus-circle"></i>
                    </button>
                </div>

                {%endif%} {%endfor%}
            </div>

            <div class="addbtn">
                <input type="text" id="ulr">
                <button type="submit" id="add">add</button>
            </div>

        </div>

    </div>




    <div class="footer">
        <form action="logout">
            <button type="submit" id="logout" value="Logout">Logout</button>
        </form>
    </div>

    <script>
        $(document).ready(function() {
            // Get value on button click and show alert
            $("#add").click(function() {
                var str = $("#ulr").val();
                var div = document.createElement("div");
                var par = document.createElement("p");
                var aod = document.createElement("p");



                $.post("/servo_pos", {
                    name: str,
                    pagename: '{{name}}'
                }).done(function(data) {
                    if (data == "True") {
                        //data = str.concat(data)
                        aod.setAttribute('class', 'doa2')
                        aod.append("Alive")


                        par.append(str);

                        div.append(par);
                        div.append(aod);


                        $("#list").append(div);
                    } else {
                        //data = str.concat(data)
                        aod.setAttribute('class', 'doa')
                        aod.append("Dead")

                        par.append(str);

                        div.append(par);
                        div.append(aod);

                        $("#list").append(div);
                        //$( "p" ).last().addClass( "selected" );
                    }



                    console.log(data)
                });



            });


            $(document).on('click', '#button', function() {
                //$('#button').each(function() {
                var url = $(this).val()
                console.log(url);

                $.post("/remove_link", {
                    adress: url
                }).done(function(data) {
                    $(this).parent().remove()
                        //console.log("done")
                });
                //});
                $(this).parent().remove()

            });

            $(document).on('click', '#bitly', function() {
                $.post("/bitly", {
                    pagename: '{{name}}'
                }).done(function(data) {
                    //$('#shortened').text(data);
                    $("#shortened").attr("href", data)

                    var link = $("#shortened").attr("href")
                    $("#linktext").text(link)
                });
            });

        });
    </script>




</body>

</html>
